@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  border-radius: 12px;
}
input[type='submit']{
  border-radius: 8px;
}
a{
  text-decoration: none;
  color: #766E6E
}
.custom-link{
  color: #766E6E;
  text-decoration: none;
}
.menu_link{
  color: #ededed;
  text-decoration: none;
}